@icon-font-path: "fonts/"

.center {
	text-align: center;
}

.taginput_addon {
	width: 50px;
}

.tageditor-input {
	width: 100%;
}

.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: black 5 solid;
}

.btn-round.btn-lg {
    width: 48px;
    height: 48px;
}

.btn-round.btn-sm {
    width: 34px;
    height: 34px;
}

.btn-round.btn-xs {
    width: 24px;
    height: 24px;
}

.noblock {
	display: inline-block;
}